In [158]:
a = "This is hello"
a[2:3]
for i in a:
    print (i)

T
h
i
s

i
s

h
e
l
l
o

In [ ]:
###Resources
## http://www.dotnetperls.com/slice-python
## http://www.tutorialspoint.com/python/python_dictionary.htm
## http://stackoverflow.com/questions/509211/explain-pythons-slice-notation

In [17]:
a = "Hitler"
b = a
#a = 'Someone'
print(b)
## this is similar to copying as string is immutable
b = a[:]
print(b)

Hitler
Hitler

In [18]:
b ='Hitler'
for i in b:
    print (i)

H
i
t
l
e
r

In [139]:
#start : inclusive
#end : exclusive
#[strart:end:step]
b = 'Hitler'
b[1:4]

'itl'

In [156]:
d = "0123456789"
d[1:8]
## '1234567'
d[1:8:2]
###the above string items step count 1 then after 2 ==3, then after 2 ==5,then after 4(again 2) ==7

'1357'

In [147]:
b = 'Hitler'
b[1:4:2]

'il'

In [23]:
###llist 
l = [1,2,3]
for i in l:
    print (i)

1
2
3

In [26]:
##mixed list
l = [1,2,"hello"]
for i in l:
    print (i)
###l[2][1:2]

1
2
hello

In [32]:
l = [1,2,[2,3]]
for i in l:
    print (i)
print (l[2][1])

1
2
[2, 3]
3

In [38]:
###list is mutable
l =[1,10,3,4]
### this is removing the object value not the index
l.remove(10)
l

[1, 3, 4]

In [46]:
### this is removing from list and it also gives back the removed item
l =[5,6,10]
l.pop(2)
l

[5, 6]

In [50]:
###checking for empty list
l=[]
print ( l ==[])

True

In [53]:
### checking list
l =[2,3]
l1= [2,3]
print (l == l1)

True

In [69]:
#### check one index at a time, a[0]>a1[0], a[1]>a1[1] if ,this is like satisfying each index one by one
### if one index agress or disagress then result is shown like in the first index 6<10, is false, it returns immediately

print ([11,3]>[10,9])

True

In [73]:
### need to know tuple
### it seems immutable and only data can be accessed i.e. can't be removed ,added 
tup = (1,2,"hello")
tup[0]

1

In [78]:
###convert tupble to list
l3 = list((tup))
l3.pop(1)

2

In [87]:
### HashMap ,Dictionary
dict ={ '1': 2,'3':4,9:10}
dict[9]

10

In [91]:
###printing key values
for a in dict:
    print(a)

9
1
3

In [103]:
for a in dict.items():
    print(a)

(9, 10)
('1', 2)
('3', 4)

In [107]:
for b,c in dict.items():
    print(b,c)
    print (b)
    print (c)

9 10
9
10
1 2
1
2
3 4
3
4

In [110]:
dict[9] =30
dict

{9: 30, '1': 2, '3': 4}

In [112]:
###Set 
s ={1,2,6,4,2}
s

{1, 2, 4, 6}

In [114]:
s.add(-1)
s

{-1, 1, 2, 4, 6}

In [117]:
print (10 in s)

False

In [120]:
print ('1' in dict)

True

In [123]:
print (2 in dict.values())

True

In [125]:
### list comprehension
for i in l:
    print (i)

2
3

In [128]:
### making a separate list 
[i for i in l]

[2, 3]

In [129]:
#### Just looping the list and multiplying by two without assigning a separate list and then adding 
[i*2 for i in l]

[4, 6]